.square {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

.light {
  background-image: url('./assets/floor.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.dark {
  background-image: url('./assets/wall.png'), url('./assets/floor.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.player {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.p1-down {
  background-image: url('./assets/blue_down.png');
}
.p1-left {
  background-image: url('./assets/blue_left.png');
}
.p1-right {
  background-image: url('./assets/blue_right.png');
}
.p1-up {
  background-image: url('./assets/blue_up.png');
}


.p2-down {
  background-image: url('./assets/green_down.png');
}
.p2-left {
  background-image: url('./assets/green_left.png');
}
.p2-right {
  background-image: url('./assets/green_right.png');
}
.p2-up {
  background-image: url('./assets/green_up.png');
}